.codedBy {
  text-align: center;
  margin: 11px;
  font-size: 12px;
}
.linkMailGabiCortes {
  text-decoration: none;
  color: black;
}

@media (max-width: 425px) {
  .codedBy {
    font-size: 8px;
  }
}
